/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
body {
  font-display: auto;
  font-family: montserrat, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000000;
}

nav {
  font-family: termina, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sofia-pro, sans-serif;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.heading__secondary {
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#044aa6), to(#021e42));
  background-image: linear-gradient(to right, #044aa6, #021e42);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: #f2f9ff;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.u-margin-bottom-lg {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 3rem !important;
}

.u-margin-top-lg {
  margin-top: 6rem !important;
}

.u-padding-top-xl {
  padding-top: 10rem !important;
}

.u-padding-top-lg {
  padding-top: 6rem !important;
}

.u-text-align-left {
  text-align: left !important;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0581e8;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 0;
  border: 0;
  outline: 0;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px;
  line-height: inherit;
  border-width: 0;
}

.btn i, .btn:link i, .btn:visited i {
  margin-left: 5px;
}

.btn:hover, .btn:focus {
  -webkit-transform: translateY(-0.4rem) scale(1.01);
          transform: translateY(-0.4rem) scale(1.01);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:active {
  -webkit-transform: translateY(0.5rem) scale(1);
          transform: translateY(0.5rem) scale(1);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--primary {
  background-color: #033474;
  color: #ffffff;
}

.btn--secondary {
  background-color: #0581e8;
  color: #ffffff;
}

.btn--white {
  background-color: #ffffff;
  color: #000000;
}

.btn--rkk-facebook:hover, .btn--rkk-facebook:focus {
  -webkit-transform: unset;
          transform: unset;
}

.btn--cta, .btn--cta:link, .btn--cta:visited {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 5rem;
  font-weight: 400;
}

.btn--cta:hover, .btn--cta:focus, .btn--cta:link:hover, .btn--cta:link:focus, .btn--cta:visited:hover, .btn--cta:visited:focus {
  -webkit-transform: translateY(-0.5rem) scale(1.06);
          transform: translateY(-0.5rem) scale(1.06);
}

.btn--cta:active, .btn--cta:link:active, .btn--cta:visited:active {
  -webkit-transform: translateY(0.5rem) scale(1);
          transform: translateY(0.5rem) scale(1);
}

@media only screen and (min-width: 992px) {
  .btn--cta, .btn--cta:link, .btn--cta:visited {
    padding: 2rem 3rem;
    font-size: 1.8rem;
    border-radius: 50px;
    font-weight: 400;
  }
}

.btn--lg, .btn--lg:link, .btn--lg:visited {
  padding: 1rem 2rem;
  border-radius: 3px;
}

.btn--md, .btn--md {
  padding: 0rem 2rem;
  border-radius: 3px;
}

.link, .link:link, .link:visited {
  color: #ffffff;
}

.link:hover, .link:focus {
  text-decoration: none;
  cursor: pointer;
}

.submit[type="submit"] {
  outline: 0;
  border: 0;
  background-color: #0581e8;
  padding: 1rem 3rem;
  color: #ffffff;
  font-size: 1.8rem;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-icon {
  padding: 0;
  z-index: 9999999999;
  width: 4rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  margin: 0;
  -webkit-transform: translate(-30%, 0%) rotate(0deg);
  transform: translate(-30%, 0%) rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 992px) {
  .menu-icon {
    display: none;
  }
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 15px;
  -webkit-transform: translate(-30%, 0%) rotate(0deg);
  transform: translate(-30%, 0%) rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media screen and (max-width: 567px) {
  .menu-icon span {
    height: 3px;
    left: 12px;
  }
}

.menu-icon span:nth-child(1) {
  top: 5px;
}

@media screen and (max-width: 567px) {
  .menu-icon span:nth-child(1) {
    top: 3px;
  }
}

.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
  top: 20px;
}

@media screen and (max-width: 567px) {
  .menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
    top: 15px;
  }
}

.menu-icon span:nth-child(4) {
  top: 35px;
}

@media screen and (max-width: 567px) {
  .menu-icon span:nth-child(4) {
    top: 27px;
  }
}

.menu-icon--white span {
  background: white;
}

.menu-icon.open span:nth-child(1) {
  background: white;
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-icon.open span:nth-child(2) {
  background: white;
  -webkit-transform: translate(-30%, 0%) rotate(45deg);
  transform: translate(-30%, 0%) rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  background: white;
  -webkit-transform: translate(-30%, 0%) rotate(-45deg);
  transform: translate(-30%, 0%) rotate(-45deg);
}

.menu-icon.open span:nth-child(4) {
  background: white;
  top: 18px;
  width: 0%;
  left: 50%;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(38, 154, 250, 0.9)), to(rgba(2, 30, 66, 0.9))), url("../images/jumbotron-lg.jpg");
  background-image: linear-gradient(to bottom right, rgba(38, 154, 250, 0.9), rgba(2, 30, 66, 0.9)), url("../images/jumbotron-lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: block;
  height: 110vh;
}

@media only screen and (min-width: 1200px) {
  .hero {
    height: 60vh;
  }
}

.hero__content {
  padding: clamp(1.5rem, 2vw, 5rem);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  text-align: center;
  width: 100%;
}

.hero__headline {
  text-align: center;
  color: #ffffff;
  font-weight: 200;
}

.hero__headline--primary {
  display: block;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  font-size: clamp(3.5rem, 5vw, 5rem);
  line-height: 5rem;
  letter-spacing: 2px;
}

@media only screen and (min-width: 576px) {
  .hero__headline--primary {
    font-size: clamp(5rem, 5vw, 6rem);
  }
}

@media only screen and (min-width: 1400px) {
  .hero__headline--primary {
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: 8px;
  }
}

.hero__headline--sub {
  display: block;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  letter-spacing: clamp(1.4px, 4vw, 7px);
  line-height: 2rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 1400px) {
  .hero__headline--sub {
    margin-top: 0;
    font-size: 2.5rem;
    letter-spacing: 13px;
    line-height: 8rem;
  }
}

.hero__text {
  font-size: 0;
}

.hero__btn:visited, .hero__btn:link {
  margin-top: 8rem;
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.composition {
  position: relative;
  margin-top: 10rem;
  height: 20rem;
}

@media only screen and (min-width: 767px) {
  .composition {
    margin-top: 0rem;
    height: 40rem;
  }
}

@media only screen and (min-width: 1200px) {
  .composition {
    margin-top: -5rem;
    margin-left: 2rem;
  }
}

.composition__photo {
  -webkit-box-shadow: 0rem 0.8rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.8rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 60%;
}

@media only screen and (min-width: 992px) {
  .composition__photo {
    width: 80%;
  }
}

.composition__photo--p1 {
  left: 0;
  top: -1rem;
}

@media only screen and (min-width: 992px) {
  .composition__photo--p1 {
    left: 0;
    top: -5rem;
  }
}

.composition__photo--p2 {
  right: 0;
  top: clamp(2rem, 10vw, 5rem);
}

@media only screen and (min-width: 992px) {
  .composition__photo--p2 {
    right: -1rem;
    top: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .composition__photo--p2 {
    right: -10rem;
    top: 5rem;
  }
}

.composition__photo--p3 {
  left: 4rem;
  top: clamp(8rem, 20vw, 12rem);
}

@media only screen and (min-width: 992px) {
  .composition__photo--p3 {
    left: 5rem;
    top: 15rem;
  }
}

@media only screen and (min-width: 1200px) {
  .composition__photo--p3 {
    left: 15%;
    top: 18rem;
  }
}

.composition__photo:hover {
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.price-card {
  position: relative;
  -webkit-box-shadow: 0rem 0.8rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.8rem 3rem rgba(0, 0, 0, 0.15);
  background: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 3px;
}

@media only screen and (min-width: 767px) {
  .price-card {
    height: 35rem;
  }
}

@media only screen and (min-width: 1200px) {
  .price-card {
    height: 40rem;
  }
}

.price-card:hover {
  -webkit-transform: translateY(-3rem) scale(1.05);
          transform: translateY(-3rem) scale(1.05);
}

.price-card__img {
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 1.5rem;
}

.price-card__img--1 {
  background-image: url("../images/risor-1-sm.jpg"), -webkit-gradient(linear, left top, right bottom, from(#F9E356), to(#D96D0F));
  background-image: url("../images/risor-1-sm.jpg"), linear-gradient(to right bottom, #F9E356, #D96D0F);
}

.price-card__img--2 {
  background-image: url("../images/risor-3-sm.jpg"), -webkit-gradient(linear, left top, right bottom, from(#F95667), to(#B10A7F));
  background-image: url("../images/risor-3-sm.jpg"), linear-gradient(to right bottom, #F95667, #B10A7F);
}

.price-card__img--3 {
  background-image: url("../images/risor-4-sm.jpg"), -webkit-gradient(linear, left top, right bottom, from(#0581e8), to(#033474));
  background-image: url("../images/risor-4-sm.jpg"), linear-gradient(to right bottom, #0581e8, #033474);
}

.price-card__img--4 {
  background-image: url("../images/risor-2-sm.jpg"), -webkit-gradient(linear, left top, right bottom, from(#56F9E8), to(#14A736));
  background-image: url("../images/risor-2-sm.jpg"), linear-gradient(to right bottom, #56F9E8, #14A736);
}

.price-card__heading {
  position: absolute;
  top: 10rem;
  right: 1.5rem;
  display: inline-block;
  padding: 0 1rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
  text-align: right;
}

.price-card__heading--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(249, 227, 86, 0.7)), to(rgba(217, 109, 15, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(249, 227, 86, 0.7), rgba(217, 109, 15, 0.7));
}

.price-card__heading--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(249, 86, 103, 0.7)), to(rgba(177, 10, 127, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(249, 86, 103, 0.7), rgba(177, 10, 127, 0.7));
}

.price-card__heading--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(5, 129, 232, 0.7)), to(rgba(3, 52, 116, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(5, 129, 232, 0.7), rgba(3, 52, 116, 0.7));
}

.price-card__heading--4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(86, 249, 231, 0.7)), to(rgba(20, 167, 54, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(86, 249, 231, 0.7), rgba(20, 167, 54, 0.7));
}

.price-card__details {
  padding: 1rem;
  text-align: center;
}

.price-card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.price-card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #d4d4d4;
}

.price-card__price {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.info-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem 1.5rem;
  border-radius: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
}

@media only screen and (min-width: 767px) {
  .info-card {
    height: 35rem;
  }
}

@media only screen and (min-width: 1200px) {
  .info-card {
    height: 41rem;
  }
}

.info-card:not(:last-child) {
  margin-right: 5rem;
}

.info-card:hover {
  -webkit-transform: translateY(-3rem) scale(1.05);
          transform: translateY(-3rem) scale(1.05);
}

.info-card__icon {
  font-size: 8rem;
  margin-bottom: 4rem;
  display: inline-block;
  background-image: linear-gradient(150deg, #0581e8, #033474);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.info-card__heading {
  margin-bottom: 1.5rem;
}

.form {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3rem;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (min-width: 992px) {
  .form {
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    min-width: 60vw;
  }
}

@media only screen and (min-width: 1400px) {
  .form {
    min-width: unset;
  }
}

.form__box:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input, .form__textarea {
  border-radius: 0;
  height: 3.5rem;
  padding: 1rem .8rem;
  outline: 0;
  border: 0;
  background-color: rgba(238, 238, 238, 0.3);
  border-bottom: 2px solid transparent;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .form__input, .form__textarea {
    width: 50%;
  }
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: #033474;
  font-family: montserrat, sans-serif;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: #033474;
  font-family: montserrat, sans-serif;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: #033474;
  font-family: montserrat, sans-serif;
}

.form__input::placeholder, .form__textarea::placeholder {
  color: #033474;
  font-family: montserrat, sans-serif;
}

.form__input:focus, .form__input:hover, .form__textarea:focus, .form__textarea:hover {
  border-bottom: 2px solid #0581e8;
}

.form__textarea {
  height: 10rem;
  width: 100%;
}

.form__submit {
  -webkit-appearance: none;
}

.form__error {
  color: #960000;
  font-weight: 500;
  padding-top: .5rem;
  display: none;
}

.carousel {
  padding: clamp(1.5rem, 2vw, 3rem);
  perspective: 500px;
  -webkit-perspective: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-box: fill-box;
}

.carousel > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media only screen and (min-width: 992px) {
  .carousel {
    perspective: 500px;
    -webkit-perspective: 500px;
  }
}

@media only screen and (min-width: 1920px) {
  .carousel {
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel figure {
    margin: 0;
    width: 90%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    transform-box: fill-box;
  }
  @media only screen and (min-width: 992px) {
    .carousel figure {
      width: 60%;
    }
  }
  .carousel figure img {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: clamp(1rem, 2vw, 2rem) !important;
    transform-box: fill-box;
  }
  .carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.carousel nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0;
}

.carousel nav button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 1rem 2rem;
}

.carousel nav button:not(:last-child) {
  margin-right: 2rem;
}

.feedback {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 3rem;
}

.feedback--success {
  background: #add8ad;
  text-align: center;
  padding: 15px;
}

.feedback--error {
  background: #c90000;
  color: white;
  font-weight: 500;
  margin: 0px 0 20px 0;
  text-align: center;
  padding: 15px;
}

.feedback--warning {
  background: #cc7818;
  color: white;
  font-weight: 500;
  margin: 20px 0 20px 0;
  text-align: center;
  padding: 15px;
}

.nav {
  display: block;
}

.nav__logo-container {
  background-color: #ffffff;
  width: 100vw;
  height: 40vw;
  max-height: 20rem;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.04);
          box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.04);
}

@media only screen and (min-width: 992px) {
  .nav__logo-container {
    width: 100vw;
    height: unset;
    max-height: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.nav__logo {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 40vw;
  max-width: 20rem;
  margin: 0;
  position: absolute;
  top: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.nav__logo:hover {
  -webkit-transform: translateX(-50%) scale(1.3);
          transform: translateX(-50%) scale(1.3);
}

.nav__logo:active {
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
}

@media only screen and (min-width: 992px) {
  .nav__logo {
    margin: 0 auto;
    width: 20vw;
    max-width: 35rem;
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  .nav__logo:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .nav__logo:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.nav__menu {
  background-color: #ffffff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.04);
          box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.04);
  width: 100vw;
  z-index: 888;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100vw;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#033474), to(#0581e8));
  background-image: linear-gradient(to top left, #033474, #0581e8);
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}

@media only screen and (min-width: 992px) {
  .nav__menu {
    z-index: 999;
    height: unset;
    position: unset;
    background-image: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    -webkit-transition: none;
    transition: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 10rem;
  height: 100vh;
}

@media only screen and (min-width: 992px) {
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: unset;
    padding-top: 0rem;
  }
}

.nav__link:visited, .nav__link:link {
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 5rem;
  color: #ffffff;
  font-size: 1.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:visited:hover, .nav__link:link:hover {
  color: #033474;
  -webkit-transform: scale(1.1) translateY(-0.5rem);
          transform: scale(1.1) translateY(-0.5rem);
}

.nav__link:visited:active, .nav__link:link:active {
  color: #033474;
  -webkit-transform: scale(1.1) translateY(0.2rem);
          transform: scale(1.1) translateY(0.2rem);
}

@media only screen and (min-width: 992px) {
  .nav__link:visited, .nav__link:link {
    color: #000000;
  }
}

.nav__link--active:link, .nav__link--active:visited {
  color: #0581e8;
}

.menu-open {
  right: 0vw;
}

.fixed {
  position: fixed;
}

.footer {
  background-color: #033474;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.4rem);
  display: block;
}

.header {
  margin: 0 auto;
  display: block;
  padding: 0 3rem;
}

@media only screen and (min-width: 1200px) {
  .header {
    width: 114rem;
  }
}

.header__headline--primary {
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(150deg, #0581e8, #021e42);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header__headline--white {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  font-size: 2.5rem;
  letter-spacing: clamp(1rem, 2vw, 3rem);
}

@media only screen and (min-width: 576px) {
  .header__headline--white {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .header__headline--white {
    font-size: 7rem;
  }
}

.row {
  max-width: 50rem;
  padding: 0 3rem;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media only screen and (min-width: 767px) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: 767px) {
  .row {
    max-width: 114rem;
    margin: 0 auto;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 767px) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 0;
  margin-bottom: 6rem;
}

@media only screen and (min-width: 1200px) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 767px) {
  .row [class^="col-"]:not(:nth-child(even)) {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 767px) {
  .row [class^="col-"] {
    float: left;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}

@media only screen and (min-width: 767px) {
  .row .col-1-of-4 {
    width: calc((100% - 3rem) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4);
  }
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem);
}

.section-about {
  padding: 10rem 0;
  -webkit-animation-name: moveInTop;
          animation-name: moveInTop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media only screen and (min-width: 992px) {
  .section-about {
    padding: 20rem 0;
  }
}

.section-info {
  padding: 10rem 0;
}

@media only screen and (min-width: 767px) {
  .section-info {
    padding: 20rem 0;
  }
}

.section-info--header {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(38, 154, 250, 0.9)), to(rgba(2, 30, 66, 0.9))), url("../images/contact-lg.jpg");
  background-image: linear-gradient(to bottom right, rgba(38, 154, 250, 0.9), rgba(2, 30, 66, 0.9)), url("../images/contact-lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 0;
  background-position: 0% 50%;
}

@media only screen and (min-width: 992px) {
  .section-info--header {
    padding: 15rem 0;
    background-position: 50% 100%;
  }
}

.opening-hours {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-align: left;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  padding: 1rem 1.5rem;
  margin: 6rem 0 3rem 0;
}

@media only screen and (min-width: 992px) {
  .opening-hours {
    padding: 1.5rem 3rem;
    margin: 6rem 0 3rem 0;
  }
}

.opening-hours__text {
  border-bottom: 1px solid #ffffff;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  padding: .5rem 1rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
  .opening-hours__text {
    padding: .7rem 2rem;
    margin-bottom: 1rem;
  }
}

.opening-hours__time {
  padding-left: clamp(3rem, 10vw, 15rem);
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}

.info-box {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;
  padding: 1rem;
}

.info-box__border {
  border: 1px solid #033474;
  padding: 1rem;
}

.map {
  width: 100vw;
  height: 40rem;
  display: block;
}

.section-price {
  margin: 0 auto;
  padding: 15rem 0;
}

.section-info-card {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(38, 154, 250, 0.9)), to(rgba(2, 30, 66, 0.9))), url("../images/ocean-lg.jpg");
  background-image: linear-gradient(to bottom right, rgba(38, 154, 250, 0.9), rgba(2, 30, 66, 0.9)), url("../images/ocean-lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  padding: 20rem 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (min-width: 992px) {
  .section-info-card {
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    padding-top: 30rem;
  }
}

.contact-main {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(38, 154, 250, 0.9)), to(rgba(2, 30, 66, 0.9))), url("../images/about-1.jpg");
  background-image: linear-gradient(to bottom right, rgba(38, 154, 250, 0.9), rgba(2, 30, 66, 0.9)), url("../images/about-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  width: 100vw;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  display: block;
}

@media only screen and (min-width: 992px) {
  .contact-main {
    height: 90vh;
  }
}

.section-contact {
  display: -ms-grid;
  display: grid;
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 15rem 1.5rem;
}

@media only screen and (min-width: 992px) {
  .section-contact {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    width: clamp(90rem, 90vw, 130rem);
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
  }
}

.contact-info {
  background-color: rgba(3, 52, 116, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff;
  border-top-left-radius: 3px;
  padding: 1.5rem;
  border-top-right-radius: 3px;
}

@media only screen and (min-width: 992px) {
  .contact-info {
    padding: 3rem;
    display: inline-block;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
  }
}

.contact-info__title:not(:first-child) {
  margin-top: 3rem;
}

.about {
  padding-bottom: 20rem;
}

.grid-gallery {
  display: -ms-grid;
  display: grid;
}

gri
.grid-gallery__img {
  max-width: 25%;
}
/*# sourceMappingURL=style.css.map */