// Colors
$color-primary: #033474;
$color-secondary: #0581e8;

$color-grey: #d4d4d4;
$color-bg-grey: #f2f9ff;

$color-white: #ffffff;
$color-black: #000000;
$color-error: #c90000;

$color-lighten: 10;
$color-darken: 10;

// Font Sizes
$default-fontsize: 1.6rem;

// Fonts
$font-body: montserrat, sans-serif;
$font-heading: sofia-pro, sans-serif;
$font-nav: termina, sans-serif;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;

// Media Query
$width-mobile: 576px;
$width-tablet-portrait: 767px;
$width-tablet-landscape: 992px;
$width-laptop: 1200px;
$width-laptop-large: 1400px;
$width-desktop: 1920px;
$width-desktop-large: 2560px;
$width-widescreen: 3440px;

// Box Shadow
$boxshadow-default: 0rem 0.8rem 3rem rgba($color-black, 0.15);
$boxshadow-dark: 0rem 0.8rem 3rem rgba($color-black, 0.4);

$boxshadow-hover: 0rem 1.2rem 4rem rgba($color-black, 0.1);
$boxshadow-active: 0rem 1.2rem 2rem rgba($color-black, 0.15);

$boxshadow-nav: 0rem 1.5rem 2rem rgba($color-black, 0.04);

// Border Radius
$border-radius-default: 3px;
