// Carousel configuration parameters
$item-width: 40%; // Now we can use percentages!
$item-separation: 0px; // This now is set with Js
$viewer-distance: 500px;

.carousel {
	padding: clamp(1.5rem, 2vw, 3rem);
	perspective: 500px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	> * {
		flex: 0 0 auto;
	}

	@include respond(tab-land) {
		perspective: 500px;
	}

	@include respond(desk) {
		perspective: 1000px;
	}
	
	figure {
		margin: 0;
		width: 90%;
		transform-style: preserve-3d;
		transition: transform 0.5s;

		@include respond(tab-land) {
			width: 60%;
		}
		
		img {
			width: 100%;
			box-sizing: border-box;
			padding: clamp(1rem, 2vw, 2rem) !important;
			
			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	
	nav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;
		
		button {
			flex: 0 0 auto;
			padding: 1rem 2rem;

            &:not(:last-child) {
                margin-right: 2rem;
            }
		}
	}
}