.composition {
    position: relative;
    margin-top: 10rem;
    height: 20rem;

    @include respond(tab-port) {
        margin-top: 0rem;
        height: 40rem;
    }

    @include respond(lap) {
        margin-top: -5rem;
        margin-left: 2rem;
    }

    &__photo {
        box-shadow: $boxshadow-default;
        border-radius: $border-radius-default;
        position: absolute;
        z-index: 10;
        transition: all .2s;

        // Mobile
        width: 60%;

        @include respond(tab-land) {
            width: 80%;
        }

        &--p1 {
            left: 0;
            top: -1rem;

            @include respond(tab-land) {
                left: 0;
                top: -5rem;
            }
        }

        &--p2 {
            right: 0;
            top: clamp(2rem, 10vw, 5rem);

            @include respond(tab-land) {
                right: -1rem;
                top: 3rem;
            }

            @include respond(lap) {
                right: -10rem;
                top: 5rem;
            }
        }

        &--p3 {
            left: 4rem;
            top: clamp(8rem, 20vw, 12rem);

            @include respond(tab-land) {
                left: 5rem;
                top: 15rem;
            }

            @include respond(lap) {
                left: 15%;
                top: 18rem;
            }
        }

        &:hover{
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}