.form {
    background-color: rgba($color-white, .6);
    padding: 3rem;
    border-bottom-right-radius: $border-radius-default;
    border-bottom-left-radius: $border-radius-default;
    backface-visibility: hidden;

    @include respond(tab-land) {
        border-top-right-radius: $border-radius-default;
        border-bottom-left-radius: 0;

        // Safari
        min-width: 60vw;
    }
 
    @include respond(lap-lg) {
        min-width: unset;
    }

    &__box {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__input,
    &__textarea {
        border-radius: 0;
        height: 3.5rem;
        padding: 1rem .8rem;
        outline: 0;
        border: 0;
        background-color: rgba(colors(grey, light), .3);
        border-bottom: 2px solid transparent;
        transition: ease-in-out .3s;


        // Mobile
        width: 100%;

        @include respond(tab-land) {
            width: 50%;
        }

        &::placeholder {
            color: colors(primary);
            font-family: $font-body;
        }

        &:focus, &:hover {
            border-bottom: 2px solid colors(secondary);
        }
    }

    &__textarea {
        height: 10rem;
        width: 100%;
    }

    &__submit {
        -webkit-appearance: none;
    }

    &__error {
        color: colors(error, dark);
        font-weight: 500;
        padding-top: .5rem;
        display: none;
    }
}