.hero {
    background-image: 
        linear-gradient(to bottom right, rgba(colors(secondary, light), 0.9), rgba(colors(primary, dark), 0.9)),
        url("../../images/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    backface-visibility: hidden;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    display: block;

    
    // Mobile
    height: 80vh;

    @media (min-width:$width-laptop-large) {
        height: 60vh;
    }

    &__content {
        padding: clamp(1.5rem, 2vw, 5rem);
        // border-radius: 3px;
        backface-visibility: hidden;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 40%;
        left: 50%;
        text-align: center;
    }

    &__headline {
        text-align: center;
        color: $color-white;
        font-weight: 200;

        &--primary {
            display: block;
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;

            // Mobile
            font-size: 5rem;
            line-height: 7rem;
            letter-spacing: 2px;

            @media (min-width:$width-laptop-large) {
                font-size: 7rem;
                line-height: 7rem;
                letter-spacing: 8px;
            }
        }

        &--sub {
            display: block;
            animation-name: moveInRight;
            animation-duration: 1s;
            animation-timing-function: ease-out;

            //Mobile
            font-size: 1.4rem;
            letter-spacing: 1.4px;
            line-height: 2rem;
            margin-top: 2rem;

            @media (min-width:$width-laptop-large) {
                margin-top: 0;
                font-size: 2.5rem;
                letter-spacing: 13px;
                line-height: 7rem;
            }
        }
    }

    &__text{
        font-size: 0;
    }

    &__btn:visited,
    &__btn:link {
        margin-top: 8rem;
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}