.menu-icon {
    @include respond(tab-land) {
        display: none;
    } 
    
    padding: 0;
    z-index: 9999999999;
    width: 4rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    margin: 0;
    -webkit-transform: translate(-30%, 0%) rotate(0deg);
    -moz-transform: translate(-30%, 0%) rotate(0deg);
    -o-transform: translate(-30%, 0%) rotate(0deg);
    transform: translate(-30%, 0%) rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    
    &:hover{
        cursor: pointer;
    }

    & span{
        box-sizing: border-box;
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $color-black;
        border-radius: 9px;
        opacity: 1;
        left: 15px;
        -webkit-transform: translate(-30%, 0%) rotate(0deg);
        -moz-transform: translate(-30%, 0%) rotate(0deg);
        -o-transform: translate(-30%, 0%) rotate(0deg);
        transform: translate(-30%, 0%) rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        @media screen and (max-width: 567px) {
            height: 3px;
            left: 12px;
        }

        &:nth-child(1){
            top: 5px;

            @media screen and (max-width: 567px) {
                top: 3px;
            }
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 20px;

            @media screen and (max-width: 567px) {
                top: 15px;
            }
        }

        &:nth-child(4) {
            top: 35px;

            @media screen and (max-width: 567px) {
                top: 27px;
            }
        }
    }

    &--white span{
        background: white;
    }

    &.open span:nth-child(1) {
        background: white;
        top: 18px;
        width: 0%;
        left: 50%;
    }

    &.open span {
        &:nth-child(2) {
            background: white;
            -webkit-transform: translate(-30%, 0%) rotate(45deg);
            -moz-transform: translate(-30%, 0%) rotate(45deg);
            -o-transform: translate(-30%, 0%) rotate(45deg);
            transform: translate(-30%, 0%) rotate(45deg);
        }

        &:nth-child(3) {
            background: white;
            -webkit-transform: translate(-30%, 0%) rotate(-45deg);
            -moz-transform: translate(-30%, 0%) rotate(-45deg);
            -o-transform: translate(-30%, 0%) rotate(-45deg);
            transform: translate(-30%, 0%) rotate(-45deg);
        }

        &:nth-child(4) {
            background: white;
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }
}