.contact-main {
    background-image: 
        linear-gradient(
            to bottom right,
            rgba(colors(secondary, light), 0.9), 
            rgba(colors(primary, dark), 0.9)),
        url("../../images/about-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    width: 100vw;
    height: 70vh;
    backface-visibility: hidden;
    position: relative;
    display: block;
}

.section-contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 1300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

.contact-info {
    background-color: rgba(colors(primary), .5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: inline-block;
    padding: 3rem;
    color: $color-white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &__title {
        &:not(:first-child){
            margin-top: 3rem;
        }
    }
}