.section-about {
    padding: 10rem 0;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(tab-port) {
        padding: 20rem 0;
    } 
}