.section-info {
    padding: 10rem 0;

    @include respond(tab-port) {
        padding: 20rem 0;
    }

    &--header {
        text-align: center;
        background-image: 
            linear-gradient(to bottom right, rgba(colors(secondary, light), 0.9),  rgba(colors(primary, dark), 0.9)),
            url("../images/contact-lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

        // Mobile
        padding: 10rem 0;
        background-position: 0% 50%;

        @include respond(tab-land) {
            padding: 15rem 0;
            background-position: 50% 100%;
        }
    }
}

.opening-hours {
    background-color: rgba($color-white, .8);
    display: inline-block;
    text-align: left;
    transform: skewX(-10deg);

    // Mobile
    padding: 1rem 1.5rem;
    margin: 6rem 0 3rem 0;

    @include respond(tab-land) {
        padding: 1.5rem 3rem;
        margin: 6rem 0 3rem 0;
    } 

    &__text{
        border-bottom: 1px solid $color-white;
        transform: skewX(10deg);

        // Mobile 
        padding: .5rem 1rem;
        margin-bottom: 1rem;

        @include respond(tab-land) {
            padding: .7rem 2rem;
            margin-bottom: 1rem;
        }
    }

    &__time {
        padding-left: clamp(3rem, 10vw, 15rem);
        transform: skewX(10deg);
    }
}

.info-box {
    background-color: rgba(white, .2);
    margin: 1rem;
    padding: 1rem;

    &__border {
        border: 1px solid colors(primary);
        padding: 1rem;
    }
}


.map {
    width: 100vw;
    height: 40rem;
    display: block;
}

.section-price {
    margin: 0 auto;
    padding: 15rem 0;
} 

.section-info-card {
    text-align: center;
    background-image: 
        linear-gradient(to bottom right, rgba(colors(secondary, light), 0.9),  rgba(colors(primary, dark), 0.9)),
        url("../images/ocean-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    padding: 20rem 0;
    backface-visibility: hidden;

    @include respond (tab-land) {
        -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
        padding-top: 30rem;
    }
}