/* COLOUR PALETTE: ------------------------------ */
:root {
    --primary: rgba(3, 52, 116, 1); /* #033474 */
    --primary-lighten: rgba(5, 129, 232, .6);

    --secondary: rgba(5, 129, 232, 1); /* #0581E8; */
    --secondary-lighten: rgba(5, 129, 232, 0.6);

    --background: rgba(242, 249, 255, 1); /* #F2F9FF */

    --jumbotron: rgba(255, 255, 255, .8); /* #F2F9FF */
    --transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}
/* ---------------------------------------------- */




/* RESPONSIVE DESIGN: --------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* ---------------------------------------------- */