.form__container{
    background: #3da4ff4d;
}

.form__background-image{
    background-image: url("../../images/contact-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.form__input{
    border: 0;
    border-radius: 0;
    opacity: .9;
}

.form__textarea{
    border: 0;
    width: 100%;
    border-radius: 0;
    height: 150px;
    opacity: .9;
}

.form__input:focus,
.form__textarea:focus{
    outline: 1px solid #033474;
}

.form__submit{
    background: #033474;
    color: #FFF;
    width: 150px;
    transition: .2s ease-in-out;
    border: 0;
    border-radius: 0;
}

.form__submit:hover{
    cursor: pointer;
    background: #0581E8;
}

.form__label{
    font-weight: 400;
}




 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .form__container{
        padding: 15px;
    }

    .form__input{
        padding: 5px;
        font-size: 14px;
        margin: 0 0 15px 0;
    }

    .form__textarea{
        padding: 5px;
        font-size: 14px;
        margin: 0 0 15px 0;
    }

    
    .form__label{
        margin-bottom: 5px;
    }

    .form__submit{
        margin-bottom: 15px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .form__container{
        padding: 20px !important;
    }

    .form__input{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .form__textarea{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .form__label{
        margin-bottom: 5px;
    }

    .form__submit{
        margin-bottom: 20px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .form__container{
        padding: 20px !important;
    }

    .form__input{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .form__textarea{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .form__label{
        margin-bottom: 5px;
    }

    .form__submit{
        margin-bottom: 20px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .form__container{
        padding: 20px !important;
    }

    .form__input{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .form__textarea{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .form__label{
        margin-bottom: 5px;
    }

    .form__submit{
        margin-bottom: 20px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .form__container{
        padding: 40px;
    }

    .form__input{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .form__textarea{
        padding: 10px;
        font-size: 16px;
        margin: 0 0 30px 0;
    }

    .form__label{
        margin-bottom: 5px;
    }

    .form__submit{
        margin-bottom: 20px;
        font-size: 18px;
        
        box-sizing: border-box;
    }
}