.facebook{
    position: relative;
    background: #d7e9fa;
    box-sizing: border-box;
}

.facebook .row{
    position: relative;
    box-sizing: border-box;
    background: #d7e9fa;
}

.facebook__post{
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.facebook__content{
    position: relative;
    padding: 0;    
}

.facebook__title{
    text-align: center;
}

.facebook__content--container div{
    justify-self: center;
}

/* RESPONSIVE DESIGN: --------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .facebook{
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 20px 0px 40px 0px;
    }

    .facebook .row{
        padding: 0px;
        margin: 0;
    }

    .facebook__post{
        margin-bottom: 10px;
        display: grid;
    }

    .facebook__post--container{
        padding: 0;
    }

    .facebook__content--container{
        padding: 20px 10px 40px 10px;
    }

    .facebook__title{
        padding-bottom: 10px;
    }

    .facebook__content--container{
        display: grid;
        align-content: center;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .facebook{
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 20px 0px 40px 0px;
    }

    .facebook .row{
        padding: 0px;
        margin: 0;
    }

    .facebook__post{
        margin-bottom: 10px;
        display: grid;
    }

    .facebook__post--container{
        padding: 0;
    }

    .facebook__content--container{
        padding: 20px 10px 40px 10px;
    }

    .facebook__title{
        padding-bottom: 10px;
    }

    .facebook__content--container{
        display: grid;
        align-content: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .facebook{
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 20px 0px;
    }

    .facebook .row{
        padding: 0px;
        margin: 0;
    }

    .facebook__post{
        margin-bottom: 10px;
        display: grid;
    }

    .facebook__post--container{
        padding: 0;
    }

    .facebook__content--container{
        padding: 20px 10px 40px 10px;
    }

    .facebook__title{
        padding-bottom: 10px;
    }

    .facebook__content--container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: grid;
        align-content: center;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .facebook{
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 20px 0px;
    }

    .facebook .row{
        padding: 0px;
        margin: 0;
    }

    .facebook__post{
        margin-bottom: 10px;
        display: grid;
    }

    .facebook__post--container{
        padding: 0;
    }

    .facebook__content--container{
        padding: 20px 10px 40px 10px;
    }

    .facebook__title{
        padding-bottom: 10px;
    }

    .facebook__content--container{
        display: grid;
        align-content: center;
    }

    .facebook__content--container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: grid;
        align-content: center;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .facebook{
        margin-top: 100px;
        margin-bottom: 100px;

    }

    .facebook .row{
        padding: 50px;
    }

    .facebook__post{
        margin-bottom: 10px;
        display: grid;
    }

    .facebook__content--container{
        padding: 20px 20px;
    }

    .facebook__title{
        padding-bottom: 20px;
    }

    .facebook__content--container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: grid;
        align-content: center;
    }
}
/* ---------------------------------------------- */