html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

/* Sticky Footer: ------------------------------- */
body{
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}
/* ---------------------------------------------- */

main{
    margin-bottom: 50px;
}




/* Om oss: -------------------------------------- */

.om-oss__img {
    width: 300px;
}
/* ---------------------------------------------- */
